{% extends 'base.html' %} {% block content %}
<div class="container h-100">
  <div
    class="wrapper wrapper-40 h-100 d-flex flex-column justify-content-center"
  >
    <h1 class="mb-3 text-center">
      {% block title %}{% if request.endpoint == 'auth.login'
      %}Login{%else%}Signup{% endif %}{% endblock %}
    </h1>

    <form method="post" class="d-flex flex-column">
      {{ form.csrf_token }}
      {% for error in form.form_errors %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}

      <div class="form-floating mb-3">
        {{ form.nickname(class="form-control" + (" is-invalid" if form.nickname.errors else ""), placeholder="Nickname") }}
        {{ form.nickname.label }}
        {% for error in form.nickname.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="form-floating mb-3">
        {{ form.password(class="form-control" + (" is-invalid" if form.password.errors else ""), placeholder="Password") }}
        {{ form.password.label }}
        {% for error in form.password.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>

      <button type="submit" class="btn btn-primary mx-auto">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
