<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <title>{% block title %}{% endblock %} - Watchpoint</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body class="h-100 d-flex flex-column">
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="container">
        <div class="nav navbar-nav align-items-center">
          <a
            class="nav-item nav-link fw-bold text-black fs-5 fst-italic"
            href="{{ url_for('index') }}"
            >WATCHPOINT</a
          >
          <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
      {{ messages[0] }}
    </div>
    {% endif %} {% endwith %}

    <main class="flex-grow-1">{% block content %}{% endblock %}</main>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
