{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1 class="mt-5 text-center">
    {% block title %}Reviews{% endblock %}{% if title %} for {{ title.data.title
    }}{% endif %}
  </h1>

  <div class="reviews">
    {% if not reviews %}
    <p>No one has reviewed a title yet.</p>
    {% else %}
    <form class="mb-3 d-flex justify-content-center">
      <div>
        <input name="title_id" value="{{ request.args.get('title_id', '') }}" hidden>
        <select class="form-select" name="sort_by" id="reviewFilter" onchange="this.form.submit()">
          <option selected disabled>Sort by:</option>
          {% for so in sort_options %}
          <option value="{{ so }}" {% if so == request.args.sort_by %}selected{% endif %}>{{ so.capitalize() }}</option>
          {% endfor %}
        </select>
      </div>
    </form>
    {% for r in reviews %}
    <div class="votes mb-5">
      <p class="mb-2">
        Review by: <span class="fw-bold">{{ r.user.nickname }}</span> for
        <a href="{{ url_for('title.title_info', title_id=r.title_id) }}">{{ r.title.data.title }}</a>
        <br />
        {{ r.comment }}<br />
        Stars: {{ r.stars }}<br />
        On: {{ r.modified_at.strftime('%B %d of %Y') }}
      </p>
      <span>
        <a class="btn {% if r.vote_data.user_upvote %}btn-primary{% else %}btn-secondary{% endif %}"
        href="{{ url_for('review.vote_review', review_id=r.id, upvote=1, **request.args ) }}"
        role="button">Upvote {{ r.vote_data.upvotes }}</a>
        <a class="btn {% if r.vote_data.user_upvote == 0 %}btn-primary{% else %}btn-secondary{% endif %}"
        href="{{ url_for('review.vote_review', review_id=r.id, **request.args ) }}"
        role="button">Downvote {{ r.vote_data.downvotes }}</a>
      </span>
    </div>
    {% endfor %} {% endif %}

    <div class="mt-5 d-flex justify-content-between">
      <span><span class="fw-bold">Total pages:</span> {{ pages }}</span>
      <span>
        {% if page > 1 %}
        <a href="{{ url_for('review.show_reviews', page=page-1) }}"
          >Previous page</a
        >
        {% endif %}
        <span>Current page: {{ page }}</span>
        {% if page < pages %}
        <a href="{{ url_for('review.show_reviews', page=page+1) }}"
          >Next page</a
        >
        {% endif %}
      </span>
    </div>
  </div>
</div>
{% endblock %}
