{% extends 'base.html' %}
{% from 'macros/review_votes.html' import review_vote_controls with context %}
{% block title %}Reviews{% endblock %}
{% block content %}
<div class="container">
  <h1 class="mt-5 text-center">
    Reviews{% if title %} for {{ title.name }}{% endif %}
  </h1>

  <div class="reviews">
    {% if not reviews %}
    <p>No one has reviewed a title yet.</p>
    {% else %}
    <form class="mb-3 d-flex justify-content-center">
      <div>
        <input name="page" value="1" hidden>
        <input name="title_id" value="{{ title_id }}" hidden>
        <select class="form-select" name="sort_by" id="reviewFilter" onchange="this.form.submit()">
          <option selected disabled>Sort by:</option>
          {% for so in sort_options %}
          <option value="{{ so }}" {% if so == sort_by %}selected{% endif %}>{{ so.capitalize() }}</option>
          {% endfor %}
        </select>
      </div>
    </form>
    {% for r in reviews %}
    <div class="votes mb-5">
      <p class="mb-2">
        Review by: <span class="fw-bold">{{ r.user.nickname }}</span> for
        <a href="{{ url_for('title.title_info', title_id=r.title_id) }}">{{ r.title.name }}</a>
        <br />
        {{ r.comment }}<br />
        Stars: {{ r.stars }}<br />
        On:
        <time datetime="{{ r.created_at.isoformat() }}" class="local-date">{{ r.created_at.strftime('%B %d of %Y') }}</time>
      </p>
      {{ review_vote_controls(r) }}
    </div>
    {% endfor %} {% endif %}

    <div class="mt-5 d-flex justify-content-between">
      <span><span class="fw-bold">Total pages:</span> {{ pages }}</span>
      <span>
        {% if page > 1 %}
        <a href="{{ url_for('review.show_reviews', page=page-1, title_id=title_id, sort_by=sort_by) }}"
          >Previous page</a
        >
        {% endif %}
        <span>Current page: {{ page }}</span>
        {% if page < pages %}
        <a href="{{ url_for('review.show_reviews', page=page+1, title_id=title_id, sort_by=sort_by) }}"
          >Next page</a
        >
        {% endif %}
      </span>
    </div>
  </div>
</div>
{% endblock %}
