{% extends 'base.html' %} {% block content %}

<style>
  .results {
    max-height: 300px;
  }
</style>

<div class="container h-100">
  <div
    class="wrapper wrapper-40 h-100 d-flex flex-column justify-content-center align-items-center"
  >
    <h1 class="mb-3">{% block title %}Title Search{% endblock %}</h1>

    <div class="w-100 position-relative">
      <div class="form-floating mx-auto">
        <input
          type="search"
          class="form-control rounded-bottom-0"
          name="q"
          id="titleNameInput"
          placeholder="Title name"
          minlength="{{ search_min_length }}"
          maxlength="{{ search_max_length }}"
          autocomplete="off"
          aria-controls="titleSearchResults"
          hx-get="{{ url_for('title.autocomplete_titles') }}"
          hx-trigger="input changed delay:250ms, search"
          hx-target="#titleSearchResults"
          hx-swap="outerHTML"
          hx-sync="this:replace"
        />
        <label for="titleNameInput">Title name</label>
      </div>
      {% include "_autocomplete_results.html" %}
    </div>
  </div>
</div>
{% endblock %}
