{% extends 'base.html' %}
{% from 'macros/forms.html' import textarea_field %}
{% block title %}{{ info.name }}{% endblock %}
{% block content %}
<div class="container pt-5">
  <img
    src="{{ info.poster_large}}"
    class="img-thumbnail float-start w-25 me-5"
  />

  <h1>{{ info.name }}</h1>
  <p>{{ info.plot_overview }}</p>
  <p><span class="fw-bold">Release year:</span> {{ info.year }}</p>
  {% if info.end_year %}
  <p><span class="fw-bold">End year:</span> {{ info.end_year }}</p>
  {% endif %}
  <p><span class="fw-bold">Genres:</span> {{ ', '.join(info.data.genre_names) }}</p>
  <p><span class="fw-bold">User rating: </span>{{ info.user_rating }}</p>
  <p><span class="fw-bold">Critic score: </span>{{ info.critic_score }}</p>
  {% if info.trailer %}
  <p><a href="{{ info.trailer }}">Watch trailer</a></p>
  {% endif %}
  <p>
    <span class="fw-bold">Available on:</span>
    {% if info.data.sources %}
      {% for src in info.data.sources %}
      <a href="{{ src.web_url }}">{{ src.name }}</a>{% if not loop.last %} - {%
      endif %} {% endfor %}
    {% else %}
    No sources available
    {% endif %}
  </p>

  <div class="clearfix"></div>

  {% if g.user %}
  <form
    action="{{ url_for('watchlist.modify_watchlist', title_id=info.id) }}"
    method="post"
    class="mt-3 w-25"
  >
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="mb-3">
      <label for="watchlist" class="form-label">Current watchlist</label>
      <select
        class="form-select form-select-lg"
        name="watchlist"
        id="watchlist"
        onchange="this.form.submit()"
      >
        <option value="" {% if not watchlist %}selected{% endif %}>No current watchlist</option>
        {% for item in watchlist_choices %}
        <option {% if item == watchlist %}selected{% endif %} value="{{ item }}">
          {{ item.capitalize() }}
        </option>
        {% endfor %}
      </select>
    </div>
  </form>
    {% if show_review_form %}
      <form action="{{ url_for('review.create_review', title_id=info.id) }}" method="post">
        {{ form.csrf_token }}
        {{ textarea_field(form.comment, rows=3) }}
      <span class="fw-bold me-3">Stars:</span>
      {% for sub in form.stars %}
        <div class="form-check form-check-inline">
        {{ sub(class="form-check-input" + (" is-invalid" if form.stars.errors else "")) }}
        {{ sub.label(class="form-check-label") }}
        </div>
      {% endfor %}
      {% for error in form.stars.errors %}
      <div class="text-danger small">{{ error }}</div>
      {% endfor %}
      <br>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </form>
    {% else %}
      <p><span class="fw-bold">Your review:</span><br>
        {{ review.comment }}<br>
        Stars: {{ review.stars }}
      </p>
      <a
        class="btn btn-primary"
        href="{{url_for('title.title_info', title_id=info.id, edit_review=1)}}"
        role="button"
        >Edit review</a
      >
    {% endif %}
  {% endif %}
  <br>
  <a
    class="btn btn-primary mt-3"
    href="{{ url_for('review.show_reviews', title_id=info.id) }}"
    role="button"
    >See other's people reviews for this title</a
  >
  
</div>
{% endblock %}
