{% extends 'base.html' %} {% block content %}
<div class="container pt-5">
  <img
    src="{{ info.posterLarge}}"
    class="img-thumbnail float-start w-25 me-5"
  />

  <h1>{% block title %}{{ info.title }}{% endblock %}</h1>
  <p>{{ info.plot_overview }}</p>
  <p><span class="fw-bold">Release year:</span> {{ info.year }}</p>
  {% if info.end_year %}
  <p><span class="fw-bold">End year:</span> {{ info.end_year }}</p>
  {% endif %}
  <p><span class="fw-bold">Genres:</span> {{ ', '.join(info.genre_names) }}</p>
  <p><span class="fw-bold">User rating: </span>{{ info.user_rating }}</p>
  <p><span class="fw-bold">Critic score: </span>{{ info.critic_score }}</p>
  {% if info.trailer %}
  <p><a href="{{ info.trailer }}">Watch trailer</a></p>
  {% endif %}
  <p>
    <span class="fw-bold">Available on:</span>
    {% for src in info.sources %}
    <a href="{{ src.web_url }}">{{ src.name }}</a>{% if not loop.last %} - {%
    endif %} {% endfor %}
  </p>

  <div class="clearfix"></div>

  {% if g.user %}
  <form
    action="{{ url_for('watchlist.modify_watchlist', title_id=info.id) }}"
    method="post"
    class="mt-3 w-25"
  >
    <div class="mb-3">
      <label for="watchlist" class="form-label">Current watchlist</label>
      <select
        class="form-select form-select-lg"
        name="watchlist"
        id="watchlist"
        onchange="this.form.submit()"
      >
        <option selected disabled>No current watchlist</option>
        {% for item in watchlist_choices %}
        <option {% if item == watchlist %}selected{% endif %} value="{{ item }}">
          {{ item.capitalize() }}
        </option>
        {% endfor %}
      </select>
    </div>
  </form>
    {% if not review or request.args.get('edit_review') %}
      <form action="{{ url_for('review.create_review', title_id=info.id) }}" method="post">
        <div class="mb-3">
        <label for="review" class="form-label">Write your review:</label>
        <textarea class="form-control" name="comment" id="review" rows="3" required>{{ review.comment }}</textarea>
      </div>
      <span class="fw-bold me-3">Stars:</span>
      {% for i in range(1, 6) %}
        <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="stars"
          id="stars{{ i }}"
          value="{{ i }}"
          {% if i == review.stars %}checked{% endif %}
          required
        />
        <label class="form-check-label" for="stars{{ i }}">{{ i }}</label>
        </div>
      {% endfor %}
      <br>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </form>
    {% else %}
      <p><span class="fw-bold">Your review:</span><br>
        {{ review.comment }}<br>
        Stars: {{ review.stars }}
      </p>
      <a
        class="btn btn-primary"
        href="{{url_for('title.title_info', title_id=info.id, edit_review=1)}}"
        role="button"
        >Edit review</a
      >
    {% endif %}
  {% endif %}
</div>
{% endblock %}
